DATABASE_URL=postgresql://user:password@postgres:5432/chatdb
HF_TOKEN=tu_token_huggingface
OPENROUTER_API_KEY=tu_token_openrouter
OPENROUTER_DEFAULT_MODEL=deepseek/deepseek-chat-v3-0324:free
GEMINI_API_KEY=tu_token_gemini
GEMINI_DEFAULT_MODEL=gemini-2.5-flash
